{% extends 'base.html' %}

{% block title %}
  New article
{% endblock %}

{% block body %}
  <div class="container mt-5">
    <h1>Добавление статьи</h1><br/>
    <form method="post">
      <input type="text" name="title" id="title" class="form-control" placeholder="Название"><br/>
      <textarea name="intro" id="intro" cols="30" rows="3" class="form-control" placeholder="Текст"></textarea><br/>
      <textarea name="text" id="text" cols="30" rows="5" class="form-control" placeholder="Текст"></textarea><br/>
      <input type="submit" class="btn btn-success" value="Создать">
    </form>
  </div>
{% endblock %}